.status { 
			border-bottom: 1px solid #ccc;
			padding: 5px 0px;
		 }
		 
.status p { 
			margin: 4px 0px;
	}
	
.status .admin { 
			display: none;
	}
	
.status.hover .admin { 
			display: inline;
	}
.status.hover { 
			background: #fafafa;
}